*{
    font-family: "Lato", sans-serif;
}

body {
  color: #349876;
  font-weight: 300;
}

hr {
  border: none;
    height: 2px;
    background-color: #868888;
}

.firstrow {
  padding-top: 4%;
}

.text-features {
  color: #86bbbb;
}

.text-thin {
  font-weight: 100;
}

.Gus {
  width: 20%;
  height: 20%;
  border-radius: 15px;
}

.title-super {
  font-size: 300%;
}

.img-rounded {
  border-radius: 15px;
}

.background {
  background-color: #eaf4fb;
}
.backgroundd {
  background-color: #e5fff2;
}
